:root {
  --single-quiz-card-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  --primary-color: rgb(245, 163, 1);
}

.single-quiz-card {
  background: var(--dark-mode);
  width: 37.5rem;
  height: 21.87rem;
  box-shadow: var(--single-quiz-card-shadow)
}

.single-quiz-card .card-head {
  border-bottom: 1px solid var(--color-gray);
  height: 3.125rem;
  width: auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1rem;
}

.single-quiz-card .card-title {
  color: var(--color-white);
}

.single-quiz-card .time-container {
  border: 1px solid var(--color-gray);
  height: 1.87rem;
  width: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 0.5rem;
}

.single-quiz-card .time-counter {
  color: var(--color-white);
}

.single-quiz-card .card-body {
  padding: 0.8rem;
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}

.single-quiz-card .question {
  color: var(--color-white);
  font-weight: 500;
}

.single-quiz-card .options-container {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.single-quiz-card .options {
  border: 1px solid var(--color-gray);
  padding: 0.5rem;
  color: var(--color-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.single-quiz-card .options:hover {
  background-color: var(--color-gray);
  cursor: pointer;
}

.single-quiz-card .card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
}

.single-quiz-card .question-count {
  color: var(--color-white);
}

.single-quiz-card .question-btn {
  padding: 0.4rem 1rem;
  border: 0;
  cursor: pointer;
  font-weight: 600;
}

.single-quiz-card .next-question-btn {
  background-color: var(--primary-color);
  color: var(--color-black);
}

.single-quiz-card .card-action-container {
  display: flex;
  gap: 1rem;
  align-items: center;
}