.homepage {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.homepage-title {
  color: white;
  font-weight: 600;
}

.category-container {
  display: flex;
  gap: 3rem;
  margin-top: 1rem;
}
