.homepage {
  display: flex;
  justify-content: center;
  position: relative;
  height: 100vh;
}

.category-container {
  margin-top: 6rem;
  gap: 3rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

.spinner {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

@media screen and (max-width: 855px) {
  .category-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 5rem;
  }
}
