.homepage {
  display: flex;
  justify-content: center;
}

.category-container {
  margin-top: 6rem;
  gap: 2rem;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-items: center;
}

@media screen and (max-width: 855px) {
  .category-container {
    display: grid;
    grid-template-columns: repeat(1, 1fr);
    padding-bottom: 5rem;
  }
  
}