:root {
  --light-mode: #f5a301;
  --dark-mode: #3a2d32;
  --primary-color: white;
  --secondary-color: black;
  --color-white: white;
  /* --color-gray: gray; */
}

.link {
  text-decoration: none;
  color: white;
}
